.terminal-command-mixin {
    display: block;
    margin: 4px 0;

    a {
        color: @commandActiveColor;
    }

    img {
        vertical-align: middle;
    }

    &.command {
        color: @commandInactiveColor;

        &::before {
            content: @consolePromptContent;
        }
    }

    &.error {
        color: @commandErrorColor;
    }

    &.response {
        // margin-left: 19px;
    }
}