html {
    min-height: 100%;
    background: radial-gradient(circle, @backgroundColorLight 0%, @backgroundColor 100%) no-repeat
}

body {
    font-family: 'Inconsolata', monospace;
    color: @commandActiveColor;
    font-size: 18px;
    font-weight: bold;
}

.clear {
    clear: both;
}

#terminal-wrapper {
    margin: 20px;

    .output {
        span {
            .terminal-command-mixin();
        }
    }

    .input {
        position: relative;
        display: none;
        
        textarea {
            position: absolute;
            left: -16px;
            top: 0;
            width: 20px;
            height: 16px;
            background: transparent;
            border: none;
            color: transparent;
            outline: none;
            padding: 0;
            resize: none;
            z-index: 1;
            overflow: hidden;
            white-space: pre;
            text-indent: -9999em;
        }
        &.active {
            display: block;
        }
        .prompt {
            float: left;
            &::before {
                content: @consolePromptContent;
            }
        }
        .before {
            float: left;
        }
        .cursor {
            border-bottom: 3px solid transparent;
            margin-bottom: -3px;
            background-clip: content-box;
            background-color: @commandActiveColor;
            float: left;
            color: @backgroundColor;
            animation: cursor 1s infinite;
        }
        .after {
            float: left;
        }
    }
}

@keyframes cursor {
	0% {
        background-color: @commandActiveColor;
        color: @backgroundColor;
	}
	45% {
        background-color: @commandActiveColor;
        color: @backgroundColor;
	}
	50% {
        background-color: transparent;
        color: @commandActiveColor;
	}
	95% {
        background-color: transparent;
        color: @commandActiveColor
        
	}
	100% {
        background-color: @commandActiveColor;
        color: @backgroundColor;
	}
}